body {
  background-size: cover;
  color: #f4f1f1;
  padding: 5vh;
  /* transition: background-image 1.8 ease-in-out; */
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 0 20px;
  max-width: 75vw;
  margin: 0 auto;
}

.navBar-left {
  display: flex;
  align-items: center;
}

.mainlogoImage {
  height: 60px;
  /* margin-right: 10px; */
}

.navTitle {
  padding-left: 10px;
  padding-right: 10px;
  width: 220px;
  color: black;
  font-size: 32px;
  font-weight: bold;
}

.navBarInteractions {
  display: flex;
  align-items: center;
}

.navBarInteractions button:hover {
  color: black;
  background-color: #01a3f3;
}

.navButtons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
  margin-right: 20px;
  padding: 10px;
  color: #01a3f3;
}

.logoImage {
  height: 20px;
  margin-right: 10px;
}

#currency-dropdown {
  background-color: #ffffff;
  /* border: none; */
  border-radius: 10px;
  font-size: 16px;
  height: 40px;
  padding: 0 20px;
  margin-left: 5px;
  width: 100px;
}

#currency-dropdown option {
  font-size: 16px;
}


/* .searchBar {
  border: solid, black;
  border-radius: 10px;
  height: 40px;
  padding: 0 20px;
  width: 200px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.calendar{
  color: #01a3f3;
}